main {
    display: flex;
    flex: auto;
	border: 2px solid green;
	margin: 0;
	padding: 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    padding-bottom: 20px;
    border: green solid 2px;
}

nav li {
	border: 2px solid rgb(0, 0, 0);
	margin-top: 0px;
    margin-left: 10px;
    margin-right: 30px;
    padding: 5px;
	font-weight: bold;
}
a{
	color: black;
}

footer {
    
	background-color: rgb(49, 49, 235);
    border: 2px solid rgb(7, 7, 131);
    
}
div{
    margin: 0px;
    padding-left: 10px;
}


.borde{
	border-style: solid;
	border: 1px;
}
#izquierda1 {
	float: left;
	width: 100px;
}	
#izquierda2 {
	float: left;
	width:250px;
}	
#izquierda3 {
	float: left;
	width: 250px;
}
.cuadro {
	width: 30px;
}	
#contenedor{
    display: flex;
    flex-direction: column;
}