.rojo {
    color: #FF0000;
}
.amarillo{
    color:#FFFF00;
}
.verde {
    color:#00B050;
}
.celeste {
    color:#4C9BD3;
}
.azul {
    color:#366F91;
}
.bg-rojo {
    background-color: #FF0000;
}
.bg-amarillo{
    background-color:#FFFF00;
}
.bg-verde {
    background-color:#00B050;
}
.bg-celeste {
    background-color:#4C9BD3;
}
.bg-azul {
    background-color:#366F91;
}
header{
    width: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

}
.contenedor{
    width: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
}
.encabezado{
    background-color:#b8cce4;
    width: 900px;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}
#logo{
    width: 100px;
    padding: 10px;
    
}
#titulo{
    width: 700px;
}
#logo2{
    width: 100px;
    padding: 10px;
}
.centrado {
    text-align: center;
}
.contenido {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
}
#texto {
    width: 770px;
}
#menu {
    width: 130px;
    

}

#menu ul{
    list-style-type: none;
}
.pie {
    width: 900px;
}
.body{
    width: 900px;
    background-color: #b8b8b8;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    border: 1px solid #000;
}
.body .menuvertical{
    background-color: #616161;
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 0px;
    border-right: 1px solid #000;
}
.body .menuvertical li{
    list-style-type: none;
    margin: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.body .menuvertical li a{
    text-decoration: none;
    color: black;
}
.body .contenido{
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 10px; 
    text-decoration: none;
    color: black;
}
.menuhorizontal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: 0px;
    background-color: #9b9b9b;
    border-top: 1px solid #000;
}
.menuhorizontal .texto{
    margin-left: 10px;
    color: #FFC000;
}       
.menuhorizontal .menu{
    height: 50px;
    background-color: #474747;
    display: flex;
    align-items: center;
}
.menuhorizontal .menu li{
    list-style-type: none;
    margin: 5px;
    width: 150px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    padding: 7px;
    font-size: 22px;
}
.menuhorizontal .menu li a{
    text-decoration: none;
    color: black;
}
