.container{
    border: 1px solid #000000;
    width: 900px;
    height: auto;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: 0px;
    text-align: center;
    background-color: #95B3D7;
}
.header img{
    width: 80px;
}
.header .items{
    padding: 10px;
    width: auto;
}
.header .items #title1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C60000;
    font-weight: bold;
}
.header .items #title2{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.carreras{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;
    margin: 0px;
    border-top: 1px solid #000;
}
.carreras .items1{
    background-color: #FFC000;
    padding: 0px;
    width: 100%;
    text-align: center;
    border-right: 1px solid #000;
}
.carreras .items2{
    background-color: #0070C0;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.menuhorizontal{
    height: auto;
    width: auto;
    margin: 0px;
    background-color: #404040;
    border-top: 1px solid #000;
}
.menuhorizontal .texto{
    margin-left: 10px;
    color: #FFC000;
}
.menuhorizontal .menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.menuhorizontal .menu li{
    list-style-type: none;
    margin: 5px;
    width: 150px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    padding: 7px;
    font-size: 22px;
}
.menuhorizontal .menu li a{
    text-decoration: none;
    color: black;
}
.body{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}
.body .menuvertical{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 0px;
    border-right: 1px solid #000;
}
.body .menuvertical li{
    list-style-type: none;
    margin: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.body .menuvertical li a{
    text-decoration: none;
    color: black;
}
.body .contenido{
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    width: 780px;
    
}
.body .contenido .recuadro{
    display:block;
    background-color: #565656;
    border-color: 1px solid #000;
    width: 400px;
    margin: 50px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFC000;
    
}
.footer{
    height: 100%;
    background-color: #C0504D;
    border-top: 1px solid #000;
}
.footer p{
    font-size: 20px;
    text-align: right;
    padding: 0px;
    margin: 0px;
}